#
# Reun Media EditorConfig
#
# @author Reun Media <company@reun.eu>
# @copyright 2020 Reun Media
#
# @see https://github.com/ReunMedia/project-templates
#
# @version 2.3.1
#

root = true

###########
# General #
###########
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yaml,yml}]
trim_trailing_whitespace = false

#######
# PHP #
#######
[*.php]
indent_size = 4

[composer.json]
indent_size = 4

###########
# Project #
###########
# Add project specific configuration below.
